/** BASE **/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(img/table.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    font-family: 'lato', sans-serif;
    color: #333333;
    position: relative;
    padding-top: 50px;
}

/** LAYOUT **/

#game-environment {

    height: 70vh;
    width: 80%;
    position: relative;
    display: flex;
    margin: auto;
    box-shadow: #333333 5px 5px 500px;

}

/** MODULE **/



.player-panel {

    width: 50%;
    height: 100%;
    background: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;

}

.player-panel.is-active {
    background: #f7f7f7;
}

.btn {

    border: none;
    background: none;
    cursor: pointer;

}

.btn-new {
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    margin: auto;
}

/** STATE **/